#journal {
    background: url(../img/about_bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .col-xxl-4 {
        position: relative;
    }
}