.pop-up {
    background: url(../img/menu_1920.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 496px;
    height: 100vh;
    position: fixed;
    top: 72px;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    nav {
        height: 100%;
        width: 464px;
        margin-left: 32px;
        .about, .game, .product, .journal {
            height: 25%;
            width: auto;
            transform: rotate(-15deg);
            position: relative;
            h2 {
                color: #fff;
                font-family: "Noto Serif", serif;
                font-weight: 500;
                font-size: 48px;
                line-height: 56px;
                text-shadow: 0 4px 2px #180302;
                margin-left: 28px;
            }
            p {
                color: #fff;
                font-family: "Noto Serif", serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                text-shadow: 0 4px 2px #180302;
                margin-left: 28px;
            }
        }   
        .about {
            h2 {
                padding-top: 15px;
            }
            img {
                width: 90px;
                height: 146px;
                position: absolute;
                top: 20px;
                left: auto;
                right: 128px;
                transform: rotate(26.95deg);
                box-shadow: 0 2px 16px #180302;
            }
        }   
        .game {
            h2 {
                padding-top: 10px;
            }
            img {
                width: 100%;
                height: auto;
                position: absolute;
                bottom: 0;
                top: auto;
                left: -100px;
            }
        }   
        .product {
            h2 {
                padding-top: 50px;
                margin-left: 18px;
            }
            p {
                margin-left: 18px;
            }
            img {
                width: 141.55px;
                height: 249.07px;
                position: absolute;
                right: 20px;
                left: auto;
                top: 20px;
                transform: rotate(30deg);
            }
        } 
        .journal {
            h2 {
                padding-top: 40px;
            }
            img {
                width: 195.68px;
                height: 170.02px;
                position: absolute;
                right: 45px;
                left: auto;
                top: 60px;
            }
        } 
    }
    .left_bar {
        height: 100%;
        width: 32px;
        background: url(../img/menu_left_bar_1920.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0 32px #180302;
    }
}
.hide {
    display: none;
}
.show {
    display: block;
}
@media (min-width: 1400px) and (max-width: 1919px) {
    .pop-up {
        width: 375px;
        height: 100vh;
        background: url(../img/menu_1440.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1024px) and (max-width: 1399px) {
    .pop-up {
        width: 375px;
        height: 100vh;
        background: url(../img/menu_1024.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .pop-up {
        width: 375px;
        height: 100vh;
        background: url(../img/menu_768.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (max-width: 767px) {
    .pop-up {
        width: 100%;
        height: 100vh;
        top: 56px;
        background: url(../img/menu_375.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}