* {
    margin: 0px;
    padding: 0px;
}

.container {
    background: url(img/bg_1920.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.ozon {
    transform: rotate(-15deg);
    /* box-shadow: 0px 0px 20px rgb(14.3, 2.2, 1.65); */
    margin-top: -23px;
}
.amediateka {
    transform: rotate(15deg);
    /* box-shadow: 0px 0px 20px rgb(14.3, 2.2, 1.65); */
    margin-top: -23px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
}
h1 {
    text-align: center;
    color: #fff;
    font-family: "Noto Serif", serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 132%;
    margin-top: 40px;
}
button {
    border: none;
}
button:hover {
    border: none;
}
.tg {
    width: 369px;
    height: 70px;
    background-color: #B61C3E;
    margin-top: 40px;
}
a {
    color: #fff;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 150%;
}
a:hover {
    color: #fff;
}
.site {
    width: 281px;
    height: 70px;
    background-color: #52212E;
    margin-bottom: 50px;
    margin-top: auto;
}
