.footer {
    background: url(../img/footer_bg.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 684px;
    position: relative;
    overflow: hidden;
    .email {
        width: 279px;
        margin-top: 30px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        a {
            color: #fff;
            font-family: "Noto Serif", serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 31.6px;
        }
        p {
            color: #fff;
            font-family: "Noto Serif", serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin-left: 52px;
        }
    }
    .tgbot {
        width: 276px;
        margin-top: 20px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        a {
            color: #fff;
            font-family: "Noto Serif", serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 31.6px;
        }
        p {
            color: #fff;
            font-family: "Noto Serif", serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin-left: 52px;
            text-shadow: 0px 2px 2px #180302;
        }
    }
    .callback {
        margin-top: 40px;
        button {
            width: 206px;
            height: 48px;
            background-color: #B61C3E;
            border: 1px solid #52212E;
            color: #fff;
            font-family: "Noto Serif", serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        img {
            margin-top: 56px;
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        p {
            margin-top: 30px;
            color: #BFB9B9;
            font-family: "Noto Serif", serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-shadow: 0px 2px 2px #180302;
        }
        ul {
            list-style: none;
            padding: 0px;
            li {
                a {
                    margin-top: 20px;
                    color: #BFB9B9;
                    font-family: "Noto Serif", serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    text-shadow: 0px 2px 2px #180302;
                }
            }
        }
    }
}
