#main {
    .main_section1 {
        background: url(../img/banner.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: calc(100vh - 72px);
        .col-xxl-6 {
            position: relative;
            .game_board {
                background: url(../img/board.png);
                background-position: center;
                background-repeat: no-repeat;
                height: 508px;
                width: 676px;
                margin-right: 103px;
                margin-left: auto;
                img {
                    width: 447px;
                    height: 224px;
                    margin-top: 120px;
                }
                .game_button {
                    background: url(../img/main_button_game.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 250px;
                    height: 64px;
                    border: none;
                    margin-top: 58px;
                }
            }
            .chest {
                background-position: left;
                background-repeat: no-repeat;
                width: auto;
                height: 300px;
                filter: blur(1.4px);
                position: absolute; 
                left: 0;
                bottom: 0;
                [alt] {
                    font-size: 0;
                    line-height: 0;
                }
            }
        }
        .phone {
            width: 859.46px;
            height: 784.66px;
            margin-top: 103px;
        }
        .more {
            width: 94px;
            height: 94px;
            position: absolute;
            top: auto;
            left: auto;
            right: 40px;
            bottom: 36px;
            background-color: #B61C3E;
            border-radius: 100px;
            border: 1.59px solid #52212E;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            font-family: "Noto Serif", serif;
            font-weight: 800;
            font-size: 12px;
            line-height: 16px;
            box-shadow: 0px 3.19px 25.5px #180302;
            p {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }     
    }
    .main_section2 {
        background: url(../img/banner.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: calc(100vh - 40px);
        .col-xxl-6 {
            position: relative;
            .game_board {
                background: url(../img/board.png);
                background-position: center;
                background-repeat: no-repeat;
                height: 508px;
                width: 676px;
                margin-right: 103px;
                margin-left: auto;
                p {
                    padding-top: 18px;
                    color: #fff;
                    font-family: "Noto Serif", serif;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    text-shadow: 0px 1.61px 1.61px #180302;
                }
                .new {
                    padding-top: 120px;
                    color: #fff;
                    font-family: "Noto Serif", serif;
                    font-weight: 500;
                    font-size: 80px;
                    line-height: 88px;
                    text-transform: uppercase;
                    text-shadow: 0px 3.22px 1.61px #180302;
                }
                .go_to {
                    margin-top: 20px;
                    width: 193px;
                    height: 56px;
                    background-color: #B61C3E;
                    border: 1px solid #52212E;
                    color: #fff;
                    font-family: "Noto Serif", serif;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    text-transform: uppercase;
                }
            }
            .chest {
                background-position: left;
                background-repeat: no-repeat;
                width: auto;
                height: 300px;
                filter: blur(1.4px);
                position: absolute; 
                left: 0;
                bottom: 0;
                [alt] {
                    font-size: 0;
                    line-height: 0;
                }
            }
            .cigar {
                width: 748.5px;
                height: 694.64px;
                margin-top: 158px;
            }
        }
    }
}

