@media (min-width: 1400px) and (max-width: 1920px) {
    #main {
        .main_section1 {
            .game_board {
                height: 435px;
                width: 532px;
                margin-right: 43px;
                img {
                    width: 343px;
                    height: 172px;
                    margin-top: 103px;
                }
                .game_button {
                    width: 250px;
                    height: 64px;
                    margin-top: 34px;
                }
            }
            .chest {
                width: auto;
                height: 280px;
            }            
            .more {
                bottom: 40px;
            }
        }
        .main_section2 {
            .game_board {
                width: 532px;
                height: 435px;
                margin-right: 43px;
                p {
                    font-size: 20px;
                    line-height: 28px;
                }
                .new {
                    margin-top: 0px;
                    padding-top: 90px;
                    font-size: 72px;
                    line-height: 80px;
                }
                .go_to {
                    margin-top: 28px;
                }
            }
            .chest {
                width: auto;
                height: 280px;
            } 

        }
    }
}