@media (min-width: 1400px) and (max-width: 1920px) {
    #about {
        background: url(../img/about_bg_1400.png);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .main {
            .mobile {
                display: none;
            }
            .card_1, .card_2, .card_3 {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                .info {
                    p {
                        margin-left: 59px;
                        margin-bottom: 25px;
                    }
                }
            }
            .card_1 {
                width: 567px;
                height: 657px;
                .info {
                    margin-top: 32px;
                }
            }
            .card_2 {
                width: 578px;
                height: 566px;
                .info {
                    margin-top: 33px;
                }
            }
            .card_3 {
                width: 563px;
                height: 487px;
                .info {
                    margin-top: 38px;
                }
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1399px) {
    #about {
        background: url(../img/about_bg_1024.png);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .main {
            .mobile {
                display: none;
            }
            .card_1, .card_2, .card_3 {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                .info {
                    p {
                        margin-left: 70px;
                        margin-bottom: 25px;
                    }
                }
            }
            .card_1 {
                width: 567px;
                height: 657px;
                .info {
                    margin-top: 32px;
                }
            }
            .card_2 {
                width: 578px;
                height: 566px;
                .info {
                    margin-top: 33px;
                }
            }
            .card_3 {
                width: 563px;
                height: 487px;
                .info {
                    margin-top: 38px;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    #about {
        background: url(../img/about_bg_768.png);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        .main {
            .mobile {
                display: block;
                position: relative;
                height: 200px;
                width: 100%;
            }
            .text {
                display: none;
            }
            .card_1, .card_2, .card_3 {          
                width: 550px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                .head {
                    width: 550px;
                    height: 192px;
                }
                .info {
                    width: 550px;
                    p {
                        margin-left: 55px;
                        margin-bottom: 20px;
                    }
                }
            }
            .card_1 {
                height: 630px;
                .info {
                    margin-top: 29px;
                }
            }
            .card_2 {
                height: 566px;
                .info {
                    margin-top: 33px;
                }
            }
            .card_3 {
                height: 487px;
                margin-bottom: 300px;
                .info {
                    margin-top: 44px;
                }
            }
            .compass {
                left: 50px;
                bottom: 0px;
            }
            .cubes {
                right: 70px;
                bottom: 40px;
            }
            .sigLeft {
                left: 100px;
                bottom: -30px;
            }
            .sigRight {
                right: 100px;
                bottom: -70px;
            }
            .telescope {
                height: 572.36px;
                width: 105.77px;
                left: -50px;
                bottom: -20px;
                transform: rotate(23.4deg);
            }
            .coins {
                width: 126.18px;
                height: 181.93px;
                left: 40%;
                bottom: 200px;
                transform: rotate(-14.62deg);
            }
            .map {
                width: 397.5px;
                height: 394.3px;
                right: -350px;
                bottom: 150px;
                transform: rotate(-31.83deg);
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 767px) {
    #about {
        background: url(../img/about_bg_375.png);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        .main {
            .mobile {
                display: block;
                position: relative;
                height: 1px;
                width: 100%;
            }
            .pc {
                display: none;
            }
            .card_1, .card_2, .card_3 {
                background: none;
                width: 375px;
                height: 812px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                .head {
                    width: 343px;
                    height: 120px;
                    h2 {
                        font-size: 32px;
                        line-height: 44px;
                    }
                }
                .info {
                    height: 471px;
                    width: 100%;
                    margin-top: 0px;
                    padding-left: 40px;
                    p {
                        font-size: 16px;
                        line-height: 28px;
                        margin: 0px;
                        margin-bottom: 29px;
                        width: 291.35px;
                    }
                }
            }
            .card_1 {
                .info {
                    background: url(../img/about_card_375.png);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    padding-top: 60px;
                }
            }
            .card_2 {
                .info {
                    background: url(../img/about_card2_375.png);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    padding-top: 42px;
                }
            }
            .card_3 {
                .info {
                    background: url(../img/about_card3_375.png);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    padding-top: 49px;
                    padding-left: 45px;
                }
            }
            .compass {
                left: 4px;
                bottom: 0;
            }
            .cubes {
                right: 20px;
                bottom: 0;
            }
            .sigLeft {                
                left: 7px;
                bottom: 120px;
            }
            .sigRight {
                right: 5px;
                bottom: 80px;
            }
            .telescope {
                height: 336.8px;
                width: 62.24px;
                left: -10px;
                bottom: 40px;
                transform: rotate(23.4deg);
            }
            .coins {
                width: 102.24px;
                height: 147.42px;
                left: 30%;
                bottom: 100px;
                transform: rotate(-14.62deg);
            }
            .map {
                width: 397.5px;
                height: 394.3px;
                right: -250px;
                bottom: 80px;
                transform: rotate(-31.83deg);
                object-fit: cover;
            }
        }
    }
}